
<div class="row">                   
    <div  class="col-sm-3" >
        <div class="card" >
            <img src={{productService.productById.imgUrl}} class="card-img-top" alt="..." />
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{productService.productById.name}}</h5>
                <p class="card-text">{{productService.productById.category}}</p>
                <p class="card-text">{{productService.productById.desc}}</p>
                <p>
                <a class="btn btn-primary" (click)="addToCart(productService.productById)" [ngStyle]="{'margin-right': '15px'}" >Add to Cart</a>
                <a class="btn btn-primary">Buy Now</a>
                </p>
            </div>
        </div> 
    </div> 
</div>